langchain
langchain-core
langchain-community

numpy
scikit-learn

langchain-huggingface
transformers
huggingface-hub

python-dotenv

langchain-openai
openai

langchain-anthropic

langchain-google-genai
google-generativeai

langchain-ollama